<h1>All menus</h1>

{{>search}}

{{>messages}}

{{#each menus}}
  <div>
    <p>{{starter}}</p>
    <p>{{main}}</p>
    <p>{{dessert}}</p>
    <p> S./{{price}}</p>
    <form action="/menus/delete/{{_id}}?_method=DELETE" method="POST">
      <input type="hidden" name="method" value="DELETE"/>
        <button type="submit">Delete</button>
    </form>
    <a href="/menus/edit/{{_id}}">Edit</a>
  </div>
{{/each}}
